CREATE TABLE iris (
	`Id` DECIMAL(38, 0) NOT NULL, 
	`SepalLengthCm` DECIMAL(38, 1) NOT NULL, 
	`SepalWidthCm` DECIMAL(38, 1) NOT NULL, 
	`PetalLengthCm` DECIMAL(38, 1) NOT NULL, 
	`PetalWidthCm` DECIMAL(38, 1) NOT NULL, 
	`Species` VARCHAR(15) NOT NULL
);
